html {
  font-size: calc(1.1 * 1em);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  max-width: 54em;
  margin: auto;
}

/* front matter */

h1 {
  margin-top: 0;
  font-size: 2rem;
}

#doc-designator {
  font-size: 1.3rem;
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 2rem;
}

#long-doc-type {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bold;
}

#doc-state {
  font-size: 0.8rem;
  font-weight: bold;
  font-style: italic;
}

#doc-status {
  font-size: 0.8rem;
  font-weight: bold;
  font-style: italic;
}

#doc-dates {
  font-size: 0.8rem;
  font-style: italic;
}

#doc-sponsor {
  font-size: 0.8rem;
  font-style: italic;
}

#sec-front-matter #smpte-logo {
  float: right;
  width: 250px;
  margin: 1rem;
}

/* headers */


h2 {
  margin-top: 1.5em;
  font-size: 1.4rem;
}

h2 span.label {
  margin-right: 1em;
}


h3 {
  margin-top: 1em;
  font-size: 1.2rem;
}

h3 span.label {
  margin-right: 1em;
}

h4 {
  margin-top: 1em;
  font-size: 1.2rem;
}

h4 span.label {
  margin-right: 1em;
}


h5 {
  margin-top: 1em;
  font-size: 1.2rem;
}

h6 {
  margin-top: 1em;
  font-size: 1.2rem;
}

/* annexes */

section.annex > h2 {
  text-align: left;
}

.annex-cat {
  font-weight: normal;
}

section.annex > h2 span.label {
  margin-right: 0;
}


/* terms and definitions */

#sec-terms dd {
  margin-left: 0;
}

#sec-terms dt {
  margin-top: 1em;
  font-weight: bold;
}

#sec-terms dt .label::after {
  content: "\A";
  white-space: pre;
}

/* note */

.note {
  font-size: 0.9rem;
  font-style: italic;
}

/* tables */

table {
  font-size: 0.8rem;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  counter-increment: table-counter;
}

table, th, td {
  border: 1px solid black;
  padding: 5px;
}

thead th {
  background-color: lightgrey;
  font-weight: bold;
  text-align: center;
}

table > caption {
  margin-top: 2em;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
}

/* images */

figure > img {
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* figures */

figure.equation > figcaption {
  float:right;
  font-size: 0.9rem;
  font-weight: normal;
  margin:0;
}

figure.equation {
  margin:0;
  text-align: center;
}

figcaption {
  margin-top: 1em;
  margin-bottom: 2em;
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
}

figure {
  margin-top: 2em;
}

/* references */

#sec-bibliographic-references ul {
  list-style-type: none;
  padding: 0;
}

#sec-normative-references ul {
  list-style-type: none;
  padding: 0;

}

/* code */

pre {
  padding: 0.5em 0.5em;

  background-color: lightgrey;

  border-top: 1px solid grey;
  border-bottom: 1px solid grey;

  font-size: 0.8rem;
  font-family: Consolas, Monaco, monospace;

  line-height: 1.4;

  overflow-x: auto;
}

code {
  font-family: Consolas, Monaco, monospace;
}